* {
  all: unset;
  font-family: "JetBrains Mono Nerd Font Mono";
  font-size: 14px;
  padding-left: 2px;
  padding-right: 2px;
}

.icon {
  font-size: 24px;
}

// .slider trough {
//   all: unset;
//   background: black;
//   min-height: 8px;
//   border-radius: 16px;
// }
// .slider trough slider {
//   all: unset;
// }
//
// .slider trough highlight {
//   all: unset;
//   min-width: 8px;
//   border-radius: 16px;
//   background: white;
// 

.activated {
  background-color: #3333bb;
}

.sysmenubox {
  background-color: #111111
}

