@use "sass:meta";
@use "colors.scss";
$maxHeight: 20px;

.bar {
  * {
    all: unset;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: calc(0.6 * $maxHeight);
    padding: 0 calc(0.1 * $maxHeight);
  }

  .icon {
    font-size: 1rem;
    padding-right: 0.25rem;
    margin-top: 0;
    margin-bottom: 0;
    &.extra-padding {
      padding-right: 0.5rem;
    }
    &.extra-extra-padding {
      padding-right: 0.75rem;
    }
  }

  .colors {
    color: colors.$background;
    text-shadow: none;
    box-shadow: none;
    border: none;
  }

  .accent-box {
    padding: 0 calc(0.25 * $maxHeight);
    margin: calc(0.1 * $maxHeight) calc(0.15 * $maxHeight);
    border-radius: 10000px;
  }

  .accent-box-1 {
    @extend .accent-box;
    background: colors.$color2;
  }

  .accent-box-2 {
    @extend .accent-box;
    background: colors.$color3;
  }

  .accent-box-3 {
    @extend .accent-box;
    background: colors.$color4;
  }

  .accent-box-4 {
    @extend .accent-box;
    background: colors.$color5;
  }

  .bar-element {
    @extend .colors;
    min-height: $maxHeight;
    background: colors.$background;
    border-radius: 50px;
    margin: calc($maxHeight / 6);
    padding: 0 calc($maxHeight / 3) 0 calc($maxHeight / 3);
  }

  .hover-icon {
    label {
      @extend .colors;
      @extend .icon;
      margin-top: 0;
      margin-bottom: 0;
    }

    revealer {
      margin: 0;
      padding: 0;
      label {
        @extend .colors;
        margin: 0;
        padding: 0;
      }
    }
  }
}

@include meta.load-css("bar/workspaces.scss");
