@import "../colors.scss";
.workspaces {
  button {
    background: $background;
    min-width: 1rem;
    min-height: 1rem;
    padding: 0;
    margin: 0.5rem 0.25rem;
    border-radius: 1000px;
    border: none;
    box-shadow: none;
    transition-duration: 0.25s;

    &:hover {
      background: $color2;
      min-width: 3rem;
    }
  }
  .active {
    background: $color2;
    min-width: 2rem;
    &:hover {
      background: $color2;
      min-width: 3rem;
    }
  }
  .occupied {
    background: $color3;
    &:hover {
      background: $color2;
      min-width: 3rem;
    }
  }
  .empty {
    background: $color4;
    &:hover {
      background: $color2;
      min-width: 3rem;
    }
  }
}
