@use "../shared.scss";
@use "colors.scss" as c;

window.Bar .element.power {
  background-color: c.$base0E;
  .icon {
    padding-right: 0.3rem;
  }
  revealer button {
    margin-right: 0.4em;
  }
}
