@use "../colors.scss";
.hub {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 25px;
  & window {
    background: transparent;
  }

  & > box {
    min-width: calc(40 * 25px);
    min-height: 600px;
  }

  .element {
    background: #111111;
    margin: 5px;
    border-radius: 10px;

    &.user {
      padding: 4px;
      padding-bottom: 8px;
      image {
        min-width: 200px;
        min-height: 200px;
      }
      .name {
        font-size: 1rem;
        font-weight: bold;
      }
      .host {
        font-size: 0.75rem;
        font-weight: normal;
      }
    }
    &.misc {
    }
    &.clock {
      .time {
        font-weight: bold;
        font-size: 3rem;
      }
      .date {
        font-weight: normal;
        font-size: 1.5rem;
      }
    }
    &.network {
      label {
      }
      .name {
      }
      .state {
      }
    }
    &.bluetooth {
      label {
      }
      .name {
      }
      .state {
      }
    }
    &.power {
      padding: 5px;
      button {
        margin: 5px;
        background: #111111;
        color: red;
        border-radius: 0;
        border: 1px solid red;
        transition-duration: 0.25s;
        &:hover {
          background: red;
          color: #111111;
        }
        .padding {
          padding-right: 0.25rem;
        }
        .extra-padding {
          padding-right: 0.5rem;
        }
      }
    }
    &.commondirs {
      button {
        border: none;
        background: transparent;
        .accent- {
          &1 {
            color: red;
          }
          &2 {
            color: green;
          }
          &3 {
            color: blue;
          }
          &4 {
            color: aqua;
          }
          &5 {
            color: pink;
          }
          &6 {
            color: purple;
          }
        }
      }
    }
  }
}
