@use "../colors.scss" as c;

$width: 1000px;
$height: calc(0.6 * $width);

.hub {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: calc($width / 60);
  & window {
    background: transparent;
  }

  & > box {
    min-width: $width;
    min-height: $height;
  }

  button {
    margin: 5px;
    border-radius: 0;
    border: calc($width / 1000) solid c.$color1;
    transition-duration: 0.25s;
    background: c.$background;
    label {
      color: c.$color1;
      &.padding {
        padding-right: 0.25em;
      }
      &.extra-padding {
        padding-right: 0.5em;
      }
    }
    &:hover {
      background: c.$color1;
      label {
        color: c.$background;
      }
    }
  }
  .accent- {
    &1 {
      color: c.$color1;
    }
    &2 {
      color: c.$color2;
    }
    &3 {
      color: c.$color3;
    }
    &4 {
      color: c.$color4;
    }
    &5 {
      color: c.$color5;
    }
    &6 {
      color: c.$color6;
    }
    &7 {
      color: c.$color7;
    }
    &8 {
      color: c.$color8;
    }
  }

  .element {
    background: c.$background;
    color: c.$foreground;
    margin: calc($width / 200);
    padding: calc($width / 100);
    border-radius: calc($width / 100);
    & > box {
      padding: calc($width / 100);
    }
    &.user {
      image {
        min-width: calc($width / 5);
        min-height: calc($width / 5);
        margin-bottom: calc($width / 100);
        border-radius: 50%;
      }
      .name {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: calc($width / 100);
      }
      .host {
        font-size: 0.75em;
        font-weight: normal;
        margin-bottom: calc($width / 100);
      }
    }
    &.misc {
      button {
        label {
          padding-right: 0.35em;
        }
      }
    }
    &.clock {
      padding: calc($width / 50);
      .time {
        font-weight: bold;
        font-size: 1.75em;
      }
      .date {
        font-weight: normal;
        font-size: 1.3em;
      }
    }
    &.network {
      label {
      }
      .name {
      }
      .state {
      }
    }
    &.bluetooth {
      label {
      }
      .name {
      }
      .state {
      }
    }
    &.power {
      .logout,
      .lock,
      .reboot {
        border-color: c.$color2;
        label {
          color: c.$color2;
        }
        &:hover {
          background: c.$color2;
        }
      }
      .shutdown {
        border-color: c.$color3;
        label {
          color: c.$color3;
        }
        &:hover {
          background: c.$color3;
        }
      }
    }
    &.commondirs {
      button {
        border: none;
        background: transparent;
      }
    }
    &.battery {
      padding: 0;
      .icon {
        font-size: 5em;
        padding-right: 0.5em;
        margin-right: 0.25em;
      }
      .charge {
        font-size: 1.875em;
        margin-top: calc(-1em / 3);
      }
      .state {
        font-size: 0.625em;
        font-weight: lighter;
        margin-top: -1em;
      }
    }
    &.volume {
      label {
        padding-right: 0.5em;
      }
    }
    &.links {
      font-size: 2em;
      button {
        border: none;
        background: #111111;
      }
    }
    &.sysinfo {
      .infoline {
        padding: 0;
        margin-bottom: 0.5em;
        .icon {
          padding-right: 1em;
        }
      }
      .osname {
        color: c.$color1;
      }
      .pkgs {
        color: c.$color2;
      }
      .compositor {
        color: c.$color3;
      }
      .shell {
        color: c.$color4;
      }
      .uptime {
        color: c.$color5;
      }
      .age {
        color: c.$color6;
      }
    }
    &.media {
      .title {
        font-size: 1em;
      }
      .artist {
        font-size: 0.75em;
      }
      .seekbar {
      }
      .position {
        all: unset;
        label {
          font-size: 0.7em;
        }
      }
      .controls {
      }
    }
    &.hardware {
      .icon {
        padding-right: 1em;
      }
      levelbar {
        margin-top: calc($height / 400);
        trough {
          background: c.$background;
          block.empty {
            color: transparent;
          }
        }
      }
      .cpu {
        label {
          color: c.$color1;
        }
        .filled {
          background: c.$color1;
        }
      }
      .memory {
        label {
          color: c.$color2;
        }
        .filled {
          background: c.$color2;
        }
      }
      .disk0 {
        label {
          color: c.$color3;
        }
        .filled {
          background: c.$color3;
        }
      }
      .disk1 {
        label {
          color: c.$color4;
        }
        .filled {
          background: c.$color4;
        }
      }
      .disk2 {
        label {
          color: c.$color5;
        }
        .filled {
          background: c.$color5;
        }
      }
    }
    &.weather {
      .icon {
        background: red;
      }
      .temp {
        background: green;
      }
      box {
        padding: 0;
        background: blue;
      }
      .state {
        background: aqua;
      }
    }
  }
}
