@use "../colors.scss";

$width: 1000px;
$height: calc(0.6 * $width);

.hub {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: calc($width / 60);
  & window {
    background: transparent;
  }

  & > box {
    min-width: $width;
    min-height: $height;
  }

  button {
    margin: 5px;
    border-radius: 0;
    border-width: calc($width / 1000);
    border-style: solid;
    transition-duration: 0.25s;
    .padding {
      padding-right: 0.25em;
    }
    .extra-padding {
      padding-right: 0.5em;
    }
    .accent- {
      &1 {
        color: red;
      }
      &2 {
        color: green;
      }
      &3 {
        color: blue;
      }
      &4 {
        color: aqua;
      }
      &5 {
        color: pink;
      }
      &6 {
        color: purple;
      }
    }
  }

  .element {
    background: #111111;
    margin: calc($width / 200);
    padding: calc($width / 100);
    border-radius: calc($width / 100);
    & > box {
      padding: calc($width / 100);
    }
    &.user {
      image {
        min-width: calc($width / 5);
        min-height: calc($width / 5);
        margin-bottom: calc($width / 100);
        border-radius: 50%;
      }
      .name {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: calc($width / 100);
      }
      .host {
        font-size: 0.75em;
        font-weight: normal;
        margin-bottom: calc($width / 100);
      }
    }
    &.misc {
      button {
        label {
          padding-right: 0.35em;
        }
      }
    }
    &.clock {
      padding: calc($width / 50);
      .time {
        font-weight: bold;
        font-size: 1.75em;
      }
      .date {
        font-weight: normal;
        font-size: 1.3em;
      }
    }
    &.network {
      label {
      }
      .name {
      }
      .state {
      }
    }
    &.bluetooth {
      label {
      }
      .name {
      }
      .state {
      }
    }
    &.power {
    }
    &.commondirs {
      button {
        border: none;
        background: transparent;
      }
    }
    &.battery {
      padding: 0;
      .icon {
        font-size: 5em;
        padding-right: 0.5em;
        margin-right: 0.25em;
      }
      .charge {
        font-size: 1.875em;
        margin-top: calc(-1em / 3);
      }
      .state {
        font-size: 0.625em;
        font-weight: lighter;
        margin-top: -1em;
      }
    }
    &.volume {
      label {
        padding-right: 0.5em;
      }
    }
    &.links {
      font-size: 2em;
      button {
        border: none;
        background: #111111;
      }
    }
    &.sysinfo {
      .infoline {
        padding: 0;
        .icon {
          padding-right: 1em;
        }
      }
      .osname {
        color: red;
      }
      .pkgs {
        color: green;
      }
      .compositor {
        color: blue;
      }
      .shell {
        color: aqua;
      }
      .uptime {
        color: pink;
      }
      .age {
        color: purple;
      }
    }
  }
}
