$text: #ffffff;
$accent: #ff0000;
// $bg-1: #111111;
$bg-1: #666666;
$bg-2: #333333;

* {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 14px;
  padding: 0 1px 0 1px;
}

.icon {
  font-size: 22px;
}

.colors {
  color: $text;
  text-shadow: none;
  box-shadow: none;
  border: none;
}

.accent {
  color: $bg-1;
  background: $accent;
}

.bar-element {
  @extend .colors;
  background: $bg-1;
  margin-left: 3px;
  margin-top: 3px;
  margin-right: 3px;
  border-radius: 50px;
}

.hover-icon-label {
  @extend .colors;
  @extend .icon;
  padding-top: 1px;
}

.hover-icon-revealer-label {
  @extend .colors;
}

button {
  @extend .colors;
  @extend .bar-element;
  background: $bg-1;
}

.bar-workspace {
  margin: 8px 0 8px 0;
  padding: 0;
  background: red;
  border-radius: 20px;
  transition: 0.5s ease-out;
}
.bar-workspace-active {
  min-width: 30px;
}
.bar-workspace-nonempty {
  background: green;
}
.bar-workspace-empty {
  background: blue;
}
