$text: #ffffff;
$accent-1: #880088;
$accent-2: #ff8800;
$accent-3: #ff00ff;
// $background: #111111;
$background: #aaaaaa;

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 14px;
  padding: 0 1px 0 1px;
}

.icon {
  font-size: 22px;
}

.colors {
  color: $text;
  text-shadow: none;
  box-shadow: none;
  border: none;
}

.accent {
  color: $background;
  background: $accent-1;
}

.bar-element {
  @extend .colors;
  background: $background;
  margin: 5px;
  border-radius: 50px;
}

@import "./bar/workspaces.scss";
@import "./bar/hover-element.scss";
