@import "./colors.scss";
$maxHeight: 20px;

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: calc(0.6 * $maxHeight);
  padding: 0 calc(0.1 * $maxHeight);
}

.icon {
  font-size: 1rem;
  padding-right: 0.25rem;
  margin-top: 0;
  margin-bottom: 0;
  &.extra-padding {
    padding-right: 0.75rem;
  }
}

.colors {
  color: $foreground;
  text-shadow: none;
  box-shadow: none;
  border: none;
}

.accent-box {
  padding: 0 calc(0.25 * $maxHeight);
  margin: calc(0.1 * $maxHeight) calc(0.15 * $maxHeight);
  border-radius: 10000px;
}

.accent-box-1 {
  @extend .accent-box;
  color: $background;
  background: $color2;
}

.accent-box-2 {
  @extend .accent-box;
  color: $background;
  background: $color3;
}

.accent-box-3 {
  @extend .accent-box;
  color: $background;
  background: $color4;
}

.accent-box-4 {
  @extend .accent-box;
  color: $background;
  background: $color5;
}

.bar-element {
  @extend .colors;
  min-height: $maxHeight;
  background: $background;
  border-radius: 50px;
  margin: calc($maxHeight / 6);
  padding: 0 calc($maxHeight / 3) 0 calc($maxHeight / 3);
}

@import "./bar/workspaces.scss";
@import "./bar/hover-icon.scss";
