.notif-window {
  .notifications {
    .spacer-top {
      min-height: 35px;
    }
    .notification {
      margin: 5px 5px 0 0;
      background: #333333;
      image {
        min-width: 30px;
        min-height: 30px;
      }
      .source {
        font-weight: bold;
        margin-right: 10px;
      }
      .title {
        font-weight: normal;
      }
      .close {
        margin: 5px;
        label {
          padding-right: 0.25em;
        }
      }
    }
  }
}
