/**
  * @name Dark+
  * @author DevEvil#8745
  * @version Dark+3
  * @description Highly customized dark and purple theme for Discord
  * @authorId 468132563714703390
  * @authorLink https://devevil.com
  * @source https://github.com/DevEvil99/DarkPlus-Discord-Theme
  * @website https://devevil.com
  * @invite jsQ9UP7kCA
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');

:root {{
  --darkplus-bg: {background};
  --darkplus-bg2: rgb({background.red} * 255 * 1.1, {background.green} * 255 * 1.1, {background.blue} * 255 * 1.1);
  --darkplus-sec: {color1};
  --darkplus-links: {color2};
  --darkplus-home-icon: url(https://devevil.com/betterdiscord/dark%2b-logo.png);
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 0deg;
}}
