@use "../shared.scss";
@use "colors.scss" as c;

window.Bar .element.misc {
  background-color: c.$base0B;
  .rotateScreen.toLandscape label {
    padding-right: 0.3em;
  }
  .osk label {
    padding-right: 0.4em;
  }
  .showoff label {
    padding-right: 0.1em;
  }
  .colorPicker label {
    padding-right: 0.25em;
  }
  button + button {
    margin-left: 0.3em;
  }
}
