@use "../shared.scss";
@use "colors.scss" as c;

window.Bar .element.volBright {
  background-color: c.$base0D;
  .brightness > label {
    padding-right: 0.1em;
  }
  .volume > label,
  .micVolume > label {
    padding-right: 0.5em;
  }
  .brightness,
  .volume,
  .micVolume {
    revealer label {
      margin-left: 0.25em;
    }
  }
}
