@use "../shared.scss";
@use "colors.scss" as c;

window.Bar .element.volBright {
  background-color: c.$base0D;
  .brightness > label {
    padding-right: 0.1em;
  }
  .volume,
  .micVolume {
    & > label {
      padding-right: 0.5em;
      &.mute {
        padding-right: 0.25em;
      }
    }
    margin-right: 0.4em;
  }
  .brightness,
  .volume,
  .micVolume {
    revealer label {
      margin-left: 0.25em;
    }
  }
}
