@use "../shared.scss";
@use "colors.scss" as c;

window.Bar .element.volBright {
  background-color: c.$base0C;

  .brightness>label {
    padding-right: 0.1em;
  }

  .volume {
    &>label {
      padding-right: 0.5em;

      &.small {
        padding-right: 0.4em;
      }
    }

    &+.brightness {
      margin-left: 0.4em;
    }
  }

  .brightness,
  .volume {
    revealer label {
      margin-left: 0.25em;
    }
  }
}
