@use "../shared.scss";
@use "colors.scss" as c;

window.Bar .element.wifiBtBat {
  background-color: c.$base0D;

  .wifi {
    >label {
      padding-right: 0.3em;

      &.wide {
        padding-right: 0.5em;
      }
    }

    >revealer>label {
      margin-left: 0.4em;
    }

    &+.bt,
    &+.bat {
      margin-left: 0/4em;
    }
  }

  .bt {
    >label {
      padding-right: 0.1em;
    }

    >revealer>label {
      margin-left: 0.4em;
    }

    &+.bat {
      margin-left: 0/4em;
    }
  }

  .bat {
    label.wide-icon {
      padding-right: 0.4em;
    }

    revealer>label {
      margin-left: 0.25em;
    }
  }
}
