@use "../shared.scss";
@use "colors.scss" as c;

window.Bar .element.workspaces {
  button {
    all: unset;
    min-width: 1rem;
    min-height: 1rem;
  }
  .button {
    margin: 0 5px;
    border-radius: 10px;
    color: c.$base01;
    min-height: 1rem;
    min-width: 1rem;
    padding: 0;
    transition-duration: 0.1s;
    &:hover {
      color: c.$base08;
    }
    label {
      padding-right: 0.25em;
    }
  }
  background-color: c.$base06;
}
